<template>
	<div class="timer__box">
		<div v-bind:class="{timer: 'timer',selected: selected, notselected: !selected}">
			<div class="timer__container">
				<span class="timer__time">
					{{displayedValue}}
				</span>
				<span class="timer__name">
					{{name}}
				</span>
			</div>

		</div>
	</div>
</template>

<script>
	export default {
		name: "Timer",
		props: {
			milliseconds: Number,
			selector: Number,
			index: Number,
			name: String,
			viewType: {
				type: String,
				default: "short"
			}
		},
		computed: {
			milliOnly: function() { return this.milliseconds % 1000},
			deciseconds: function() { return Math.floor(this.milliseconds % 1000 / 100)},
			seconds: function() { return Math.floor(this.milliseconds / 1000)},
			minutes: function() { return Math.floor(this.seconds / 60)},
			selected: function() {return this.selector === this.index},
			displayedValue: function() {
				if (this.milliseconds <= 0)
					return "OUT";

				let ret = "";
				switch (this.viewType) {
					case "long":
						ret += this.minutes + " minutes and " + this.seconds + " seconds";
						break;
					case "short":
						ret += this.seconds + "." + this.deciseconds + "s";
						break;
					default:
						ret += "Undefined viewType";
				}
				return ret;
			}
		}
	}
</script>

<style scoped>
	.timer__box {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 25em;
		width: 100%;
		height: 100%;
	}
	.timer {
		position: relative;
		flex-grow: 1;
		border: solid 3px green;
	}
	.timer:before {
		content:     "";
		display:     block;
		padding-top: 100%;
	}
	.timer__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.timer__time {
		font-size: min(calc(2.5vw * 3), 5em);
	}

	.timer__name {
		font-size: min(calc(2.5vw * 3), 3em);
	}
	.selected {
		border-color: red;
		color: red;
	}
	.notselected {
		border-color: green;
		color: green;
	}
</style>